/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@300;400;500&display=swap');

.font-style {
  font-family: 'Athiti', sans-serif;
}

.btn {
  transition: all 0.2s ease;
  transform: translate(0px, 0px) !important;
  opacity: 1;
  /* display: block */
}

.btn.hidden {
  transition: all 0.2s ease;
  transform: translate(0px, 15px) !important;
  opacity: 0;
  cursor: auto;
  z-index: -55;
}