/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.btn {
  transition: all 0.2s ease;
  transform: translate(0px, 0px) !important;
  opacity: 1;
  /* display: block */
}

.btn.hidden {
  transition: all 0.2s ease;
  transform: translate(0px, 15px) !important;
  opacity: 0;
  cursor: auto;
  z-index: -55;
}